html,
body{
  margin: 0;
  padding: 0;
}
.f-container{

  display: flex;
  flex-direction: column;
    
  display: -ms-flexbox;
  -ms-flex-direction: column;
}

.main{
  flex: 1;
  -ms-flex: 1 1 auto; 
}

header,
footer{
  background-color: #ccc;
  flex-basis: 30px;
  height: 40px;
  -ms-flex-preferred-size: 30px;
  
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-around; /*or space-between*/
  display: -ms-flexbox;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}

footer {
  margin-top: auto; 
}
header a{
  display: inline-block;
}
.fixed-hf .main{
  overflow-y: auto;
}